* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: textChill;
  src: url("../font/fonts/Centra/CentraNo1-Book.woff");
}
body {
  font-family: textChill;
  background-color: #edf8ef;
}
.wraper {
  width: 100%;
  background-color: #edf8ef;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  /* background-color: #edf8ef; */
}

.nav_controll {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  height: 80px;
  border-bottom: 1px solid #ccc;
}
.text_header {
  padding-top: 4px;
  color: #000;
}
.text_header a {
  text-decoration: none;
}
.icon_header {
  display: none;
}
.text_nav_right {
  display: flex;
  align-items: center;
}
.profile_button_controll {
  margin-left: 50px;
}
.profile_button_controll a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;
}
.text_insights {
  display: flex;
  padding-top: 10px;
  padding-right: 50px;
}
.text_insights p {
  padding-right: 10px;
  color: #000;
}
.text_administration {
  display: flex;
  padding-top: 10px;
  padding-right: 50px;
}
.text_administration p {
  padding-right: 10px;
  color: #000;
}
.button_child {
  width: 134px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  color: #a78730;
  opacity: 0.9;
  border: 1px solid #ffffff;
  border-radius: 28px;
}
.button_child p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #a78730;
}
.button_child:hover {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.title_header {
  width: 304px;
  height: 39px;
  margin-top: 65px;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  opacity: 0.8;
}
.header_content {
  display: flex;
}
.box_header_content_1 {
  width: 287px;
  height: 285px;
  border-top: 5px solid #4350af;
  background: #ffffff;
}
.box_header_content {
  width: 287px;
  height: 285px;
  margin-left: 44px;
}
.box_content_header_1 {
  margin-left: 65px;
}
.title_content_header {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 25px;
}
.title_content_header h3 {
  width: 115px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  opacity: 0.8;
}

.price_desc {
  display: flex;
  margin-left: 23px;
  margin-top: 9px;
}
.price_desc span {
  margin-right: 18px;
}
.price_1 {
  color: #4350af;
}
.price_2 {
  color: #619d87;
}
.price_3 {
  color: #eb5181;
}
.price_4 {
  color: #ef8a40;
}
.desc_content {
  width: 235px;
  height: 72px;
  margin-left: 23px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.child {
  color: #b59a51;
}
.nav_ul_header {
  margin-left: 42px;
  margin-top: 10px;
}
.nav_ul_header ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.nav_ul_header_2 ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.nav_ul_header_3 ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.nav_ul_header_4 ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.desc_content_2 {
  width: 280px;
  height: 48px;
  margin-left: 23px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.desc_content_3 {
  width: 280px;
  height: 48px;
  margin-left: 23px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.desc_content_4 {
  width: 216px;
  height: 72px;
  margin-left: 23px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.nav_ul_header_2 {
  margin-top: 37px;
  margin-left: 42px;
}
.nav_ul_header_3 {
  margin-top: 37px;
  margin-left: 42px;
}
.title_content_header span {
  transform: rotate(180deg);
}
.seach_input {
  display: flex;
  justify-content: space-between;

  margin-top: 44px;
}
.seach {
  /* position: absolute; */
  width: 540px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 22px;
}
.seach input {
  width: 540px;
  height: 44px;
  padding-left: 20px;
  margin-left: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 22px;
  border: none;
  outline: none;
}
.filter_button {
  width: 116px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background: #a78730;
  color: #ffffff;
  opacity: 0.9;
  border: 1px solid #a78730;
  border-radius: 28px;
}
.content {
  margin-top: 59px;
}
.title_content {
  display: flex;
  justify-content: space-between;
}
.resultat_628 {
  width: 85px;
  height: 21px;
  display: flex;
}
.text_628 {
  padding-left: 14px;
}
.text_chill_1 {
  display: flex;
  width: 203px;
  font-size: 16px;
  margin-right: 4.625rem;
}
.text_span {
  color: #a78730;
  padding-left: 8px;
}
.text_chill_2 {
  width: 198px;
  display: flex;
  /* margin-left: 135px; */
}
.box_content {
  width: 78.125rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.125rem;
}
.box_content_child {
  width: 388px;
  height: 191px;
  background-color: #ffffff;
  margin-bottom: 28px;
  margin-right: 28px;
}
.box_content_child:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title_box {
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 14px;
}
.title_box a {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.box_content_child p {
  width: 336px;
  height: 48px;
  padding-left: 20px;
  padding-bottom: 16px;
  font-size: 15px;
}
.icon_dots {
  width: 21.655rem;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 1.5rem;
}
.a {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #619d87;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b {
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 10px;
}
.icon_dots p {
  width: 47px;
  height: 24px;
  font-size: 14px;
}
.icon_circle {
  margin-left: 250px;
}
.title_desc_content {
  margin-top: 68px;
}
.title_desc_content h2 {
  width: 610px;
  height: 56px;
  margin: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  opacity: 0.8;
}
.button_desc_content {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.button_desc_content button {
  width: 160px;
  height: 40px;
  border: 1px solid #a78730;
  border-radius: 22px;
  background-color: #edf8ef;
  color: #a78730;
}
.button_desc_content button:hover {
  cursor: pointer;
  background-color: #a78730;
  color: #edf8ef;
}
/* footer  */
.footer_container {
  margin-top: 100px;
  background-color: #292a2b;
  color: #f2f7ff;
}
.footer_content_child {
  height: 60.64px;
  background-color: #0b0b0b;
  display: flex;
  align-items: center;
}
.footer_content {
  background-color: #292a2b;
  height: 258.36px;
  display: flex;
  justify-content: space-between;
}
.title_footer {
  padding-top: 91.47px;
}
.nav_footer_1 {
  margin-top: 74px;
}
.nav_footer_1 ul li {
  display: block;
  padding-bottom: 30px;
}
.nav_footer_1 ul li a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}
.nav_footer_1 ul li a:hover {
  color: white;
  opacity: 1;
}
.nav_footer_2 {
  margin-top: 74px;
}
.nav_footer_2 ul li {
  display: block;
  padding-bottom: 30px;
}
.nav_footer_2 ul li a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}
.nav_footer_2 ul li a:hover {
  color: white;
  opacity: 1;
}
.english {
  display: flex;
}
.english img {
  padding-right: 10px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* responsive */
@media screen and (max-width: 375px) {
  .container {
    width: 375px;
  }
  .text_nav_right {
    display: none;
  }
  .nav_controll {
    width: 350px;
    display: flex;
    justify-content: space-between;
  }
  .text_header {
    width: 350px;
    margin-left: 13px;
  }
  .icon_header {
    display: block;
  }
  .text_header_left {
    margin-top: 20px;
  }
  .title_header {
    width: 223px;
    height: 28px;
    margin-bottom: 0;
    margin-left: 13px;
    margin-top: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
  }
  .header_content {
    margin-top: 3rem;
    display: block;
  }
  /* 1 */
  .desc_content {
    display: none;
  }
  .nav_ul_header {
    display: none;
  }
  /* 2 */
  .desc_content_2 {
    display: none;
  }
  .nav_ul_header_2 {
    display: none;
  }
  /* 3 */
  .desc_content_3 {
    display: none;
  }
  .nav_ul_header_3 {
    display: none;
  }
  /* 4 */
  .desc_content_4 {
    display: none;
  }
  .nav_ul_header_4 {
    display: none;
  }
  .box_header_content {
    width: 324px;
    height: 115px;
    margin-left: 20px;
    border-bottom: 1px solid #292a2b;
  }
  .box_header_content_1 {
    width: 324px;
    margin-left: 20px;
    background: none;
    border-top: none;
    height: 115px;
    border-bottom: 1px solid #292a2b;
  }
  .title_content_header h3 {
    margin: 0;
  }
  .price_desc {
    margin: 0;
    margin-top: 10px;
  }
  .title_content_header {
    margin-left: 0;
    width: 20.25rem;
    display: flex;
    justify-content: space-between;
  }
  .seach {
    width: 255px;
    height: 44px;
  }
  .seach_input {
    width: 350px;
    margin-left: 13px;
  }
  .filter_button p {
    display: none;
  }
  .filter_button {
    width: 44px;
    height: 44px;
    border-radius: 50px;
  }
  .title_content {
    width: 375px;
    display: block;
  }
  .title_content {
    margin: 0;
  }
  .text_chill_1 {
    margin: 0;
  }
  .text_chill_1 {
    margin: 0;
  }
  .text_chill_2 {
    margin: 0;
  }
  .text_child_none {
    display: none;
  }
  .resultat_628 {
    margin-left: 13px;
  }
  .text_chill_1 .text_span {
    padding-left: 13px;
  }
  .tex {
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #a78730;
  }
  .box_content {
    width: 375px;
    margin-left: 0;
  }
  .box_content_child {
    width: 350px;
    margin-left: 13px;
  }
  .box_content_child p {
    width: 300px;
  }
  .icon_dots {
    width: 250px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .icon_circle {
    display: none;
  }
  .title_desc_content {
    width: 375px;
    margin-top: 20px;
  }
  .title_desc_content h2 {
    width: 327px;
    height: 72px;

    text-align: center;
    margin-left: 24px;
    font-size: 14px;
  }
  .button_desc_content button {
    margin-top: 24px;
  }

  .footer_content {
    width: 375px;
  }
  .desc_footer {
    width: 375px;
  }
  /* footer */
  .footer_container {
    width: 375px;
    height: 588px;
  }
  .footer_content {
    height: 455px;
    display: block;
  }
  .footer_content_child {
    height: 133px;
    display: block;
  }
  .title_footer {
    padding-top: 54px;
    padding-bottom: 0;
  }
  .nav_footer_1 {
    margin-top: 50px;
    margin-left: 21px;
  }
  .nav_footer_2 {
    margin-top: 50px;
    margin-left: 21px;
  }
  .footer-bottom {
    display: block;
  }
  .boder {
    width: 314px;
    margin-left: 21px;
    border-bottom: 1px solid #ffffff;
  }
  .footer_content_child {
    margin-top: 5rem;
  }
  .english {
    padding-left: 21px;
    padding-top: 20px;
    opacity: 0.6;
  }
  .desc_footer {
    width: 298px;
    line-height: 25px;
    padding-left: 21px;
    padding-top: 20px;
    opacity: 0.5;
  }
}
