* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: CentraNo1;
  src: url("../font/centrano1-and-no2-font/CentraNo1-Book.ttf");
}
body {
  font-family: CentraNo1;
}
video {
  position: absolute;
  width: 0 1440px;
  margin: auto;
  height: 660px;
  object-fit: cover;
  /* left: 0; */
}
/* Header  */

/* animation */
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.couter {
  animation: counter 5s alternate ease-in-out;
  counter-reset: num var(--num);
  font: 16px system-ui;
  animation-fill-mode: forwards;
}
.couter::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}
.material-symbols-outlined {
  height: 24px;
  width: 24px;
}
.header_container {
  margin: auto;
}
header {
  background-color: #94d8da;
}
.header {
  width: 1440px;
  margin: auto;
  height: 660px;
}
.icon_header {
  display: none;
}
.header_controll {
  position: relative;
  padding-top: 10px;
  display: flex;
}
.text_header {
  padding-top: 4px;
  margin-left: 156px;
  color: #ffffff;
}
.text_nav_right {
  display: flex;
  margin-left: 573.45px;
  margin-top: 16px;
}
.text_insights {
  width: 55px;
  height: 28px;
  display: flex;
  padding-top: 10px;
  padding-right: 50px;
}
.text_insights p {
  width: 55px;
  height: 28px;
  font-size: 16px;
  margin-right: 9px;
  color: #ffffff;
}
.text_administration {
  display: flex;
  width: 108px;
  height: 28px;
  padding-top: 10px;
  margin-left: 58px;
}
.text_administration p {
  width: 108px;
  height: 28px;
  font-size: 16px;
  margin-right: 9px;
  color: #ffffff;
}
.profile_button_controll {
  width: 134px;
  height: 38px;
}
.button_child {
  width: 134px;
  height: 38px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  opacity: 0.9;
  border: 1px solid #ffffff;
  border-radius: 28px;
}
.button_child p {
  font-size: 16px;
  color: #a78730;
}
.button_child span {
  color: #a78730;
}
.header_text_child {
  margin-left: 165px;
  margin-top: 181px;
  position: relative;
}
.text_chill {
  width: 527px;
  height: 91px;
  margin-top: 181px;
  font-style: normal;
  font-weight: 500;
  line-height: 91px;
  color: #ffffff;
}
.text_chill h2 {
  width: 527px;
  height: 91px;
  margin-top: 181px;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 91px;
  color: #ffffff;
}
.text_child_2 {
  display: flex;
  color: #ffffff;
}
.child_1 {
  width: 262px;
  height: 30px;
  left: 165px;
  top: 356px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.child_2 {
  width: 238px;
  height: 30px;
  margin-left: 9px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
/* container_content  */
.section_content {
  width: 1440px;
  margin: auto;
  position: relative;
  display: flex;

  justify-content: center;
  margin-top: 100px;
}
.box_content_1 {
  width: 540px;
  height: 462px;
  background-color: #f2f7ff;
  border-radius: 14px;
  margin-right: 30px;
}
.title_cotroll {
  width: 223px;
  height: 32px;
  margin-left: 30px;
  margin-top: 40px;
}
.title_cotroll h2 {
  width: 223px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.2px;
  line-height: 32px;
  color: #000000;
  opacity: 0.8;
}
.desc_1 {
  width: 413px;
  height: 56px;
  padding-top: 26px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;
}
.desc_2 {
  margin-top: 40px;
  margin-left: 30px;
  width: 413px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;
}
.title_desc_1 {
  width: 439px;
  height: 84px;
  padding-top: 26px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  opacity: 0.4;
}
.title_desc_2 {
  width: 413px;
  height: 56px;
  padding-top: 40px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  opacity: 0.4;
}
.price {
  color: #70a693;
}
.desc_3 {
  display: flex;
  margin-top: 32px;
}
.price_desc {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.price_desc span {
  padding-right: 5px;
}
.price_1 {
  color: #4350af;
}
.price_2 {
  color: #619d87;
}
.price_3 {
  color: #eb5181;
}
.price_4 {
  color: #ef8a40;
}

.desc_child_1 {
  padding-left: 30px;
}
.desc_child_1 h5 {
  width: 84px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;

  color: #000000;

  opacity: 0.8;
}
.desc_child {
  padding-left: 60px;
}
.desc_child h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;

  color: #000000;

  opacity: 0.8;
}
.title_desc_3 {
  width: 489px;
  height: 56px;
  padding-top: 60px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;
}
.box_content_2 {
  width: 540px;
  height: 462px;
  background-color: #ffffe0;
  border-radius: 14px;
}
.btn_box_2 {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.btn_box_1 {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.btn_box_1 button {
  width: 160px;
  height: 40px;
  border-radius: 22px;
  background-color: #a28840;
  border: solid #a28840;
  color: #f2f7ff;
}
.btn_box_1 a :hover {
  background-color: #927629;
  border: #927629;
}
.btn_box_1 a {
  text-decoration: none;
}
.btn_box_1 :hover {
  cursor: pointer;
  text-decoration: none;
}
.btn_box_2 a {
  text-decoration: none;
}
.btn_box_2 :hover {
  cursor: pointer;
}
.btn_box_2 button {
  width: 160px;
  height: 40px;
  border-radius: 22px;
  background-color: #a28840;
  border: solid #a28840;
  color: #f2f7ff;
}
.footer_container {
  margin-top: 100px;

  color: #f2f7ff;
}
.footer1 {
  background-color: #292a2b;
}
.footer_content {
  margin: auto;
  width: 1440px;
  height: 258.36px;
  display: flex;
  background-color: #292a2b;
}
.footer_content_container {
  background-color: #161617;
}
.footer_content_child {
  background-color: #0b0b0b;
}
.abc {
  width: 1440px;
  display: flex;
  align-items: center;
  height: 60.64px;
  background-color: #0b0b0b;
  margin: 0 auto;
}
.title_footer {
  padding-left: 160px;
  padding-top: 91.47px;
}
.nav_footer_1 {
  margin-left: 400px;
  margin-top: 74px;
}
.nav_footer_1 ul li a {
  text-decoration: none;
  display: block;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.7;
}
.nav_footer_1 ul li {
  display: block;
}
.nav_footer_1 ul li a:hover {
  color: white;
  opacity: 1;
}
.nav_footer_2 ul li {
  display: block;
}
.nav_footer_2 {
  margin-left: 250px;
  margin-top: 74px;
}
.nav_footer_2 ul li a {
  display: block;
  text-decoration: none;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.7;
}
.nav_footer_2 ul > li > a:hover {
  color: white;
  opacity: 1;
}
.english {
  padding-left: 165px;
  display: flex;
}
.english img {
  padding-right: 10px;
}
.desc_footer {
  padding-left: 540px;
}
#far {
  font-size: 50px;
}
/* responsive */
@media screen and (max-width: 375px) {
  video {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }

  /* Header  */
  #wrapper {
    width: 375px;
  }
  header {
    width: 375px;
    height: 328px;
  }
  .header {
    width: 375px;
  }
  video {
    height: 328px;
  }
  .icon_header {
    width: 20px;
    height: 14px;
    display: block;
    margin-left: 180px;
  }
  .text_nav_right {
    display: none;
  }
  .text_header {
    margin: 0;
  }
  .header_controll {
    width: 375px;
    padding-top: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    /* display: block;   */
  }
  .header_container {
    width: 375px;
  }
  .header_text_child {
    width: 350px;
    margin-top: 0;
    margin-left: 14px;
    position: relative;
  }
  .text_chill {
    margin: 0;
  }
  .text_chill h2 {
    margin: 0;
  }
  .text_chill {
    width: 226px;
    height: 39px;
  }
  .text_chill h2 {
    width: 226px;
    height: 39px;
    font-size: 30px;
  }
  .text_child_2 {
    margin-top: 50px;
  }
  .text_child_2 .child_1 {
    width: 167px;
    height: 30px;
    font-size: 14px;
  }
  .text_child_2 .child_2 {
    width: 152px;
    height: 30px;
    font-size: 14px;
    margin-left: 5px;
  }
  .section_content {
    margin-top: 56px;
    width: 375px;
    flex-direction: column;
  }
  .box_content_1 {
    width: 350px;
    height: 670px;
    margin-left: 13px;
  }
  .title_cotroll h2 {
    width: 183px;
    height: 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
  }
  .desc_1 {
    display: none;
  }
  .desc_2 {
    width: 297px;
    height: 78px;
    margin-top: 10px;
  }
  .desc_3 {
    width: 84px;
    display: flex;
    flex-wrap: wrap;
  }
  .desc_child {
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .desc_child_1 {
    padding-bottom: 30px;
  }
  .btn_box_1 {
    margin-top: 20px;
  }
  .box_content_2 {
    width: 350px;
    height: 460px;
    margin-left: 13px;
    margin-top: 28px;
  }
  .title_desc_2 {
    display: none;
  }
  .title_desc_1 {
    width: 258px;
    height: 110px;
    font-size: 16px;
  }
  .title_desc_1 p {
    width: 258px;
    height: 104px;
    font-size: 16px;
  }
  .title_desc_3 {
    width: 308px;
    height: 84px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
  }
  .title_desc_3 p {
    width: 308px;
    height: 84px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
  }
  .btn_box_2 {
    margin-top: 100px;
  }
  .footer_container {
    width: 375px;
    height: 588px;
  }
  .footer_content {
    width: 375px;
    height: 455px;
    display: block;
  }
  .abc {
    width: 375px;
    height: 133px;
    display: block;
  }
  .title_footer {
    width: 200px;
    padding-left: 2px;
    padding-top: 54px;
    padding-bottom: 0;
  }
  .nav_footer_1 {
    margin-top: 50px;
    margin-left: 21px;
  }
  .nav_footer_2 {
    margin-top: 50px;
    margin-left: 21px;
  }
  .boder {
    width: 314px;
    margin-left: 21px;
    border-bottom: 1px solid #ffffff;
  }
  .english {
    width: 350px;
    padding-left: 21px;
    padding-top: 20px;
    opacity: 0.6;
  }
  .desc_footer {
    width: 298px;
    line-height: 25px;
    padding-left: 21px;
    padding-top: 20px;
    opacity: 0.5;
  }
}
